student_repos
instructor_private
lectures/l6
lectures/l7
lectures/l8
lectures/l9
lectures/l10
lectures/l11
lectures/l12
lectures/l13
lectures/l14
lectures/l15
lectures/l16
lectures/l17
lectures/l18
lectures/l19
lectures/l20
lectures/l21
lectures/l22
lectures/l23
lectures/l24
drawings
